* {
  font-size: 0;
  padding: 0;
  margin: 0;
}
/* start header  ******/
header {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 70px;
  border-bottom: 1.5px solid rgb(181, 178, 178);
}

header a {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
header p.header-community {
  width: 90%;
  text-align: center;
  font-family: "Lobster", cursive;
  color: black;
  font-size: 25px;
}

header p.continer-for-link-a {
  display: inline-block;
  font-size: 20px;
  text-align: end;
  width: 10%;
}
/*** End header***/
#my-filter-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #636773a8;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#my-filter-container img {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1.1%;
}
/* ff8527 */
.btn-on-active {
  color: #ff8527;
  padding-left: 2%;
  margin-left: 2%;
}

button {
  font-size: 16px;
  width: 37%;
  height: 50px;
  background-color: white;
  color: #636773;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 10px 15px 15px 0px;
}
button:hover {
  background-color: #ff85275b;
}
button:active {
  color: black;
}
/********************End Style Filter**************/

/********************start Style meal**************/
div.container-for-all-meals {
  display: flex;
  width: 100%;
  height: 100%;
  direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
div.container-for-all-meals section {
  margin-top: 15px;
}
section.meal-1 {
  width: 43.8%;
  height: 300px;
}

img.heart {
  border: 2px solid rgb(255, 255, 255);
  margin-top: -30%;
  margin-left: 75%;
}

p.meal-name {
  font-size: 21px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Varela Round", sans-serif;
  text-shadow: 0.6px 0.6px 1.8px #636773c2;
  padding-top: 7px;
}

div.reviwes-for-meal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
  width: 130px;
}

figure.figure-for-avater-for-reviewer {
  width: 25%;
}

p.name-for-reviewer {
  font-size: 14px;
  font-weight: bold;
}
span.number-of-reviwes {
  font-size: 14px;
  font-weight: 300;
  color: #636773;
}
/********************End Style meal**************/

/********************start meadia query mobile (iphone x)**************/

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
}

/********************end meadia query mobile**************/

/********************start meadia query (ipad air)**************/

@media only screen and (device-width: 820px) and (device-height: 1180px) {
  .header-community {
    margin-left: -8%;
  }

  .continer-for-link-a a {
    margin-left: 50px;
  }
  div.container-for-all-meals section {
    width: 30%;
    margin-left: -35px;
  }

  img.heart {
    margin-left: 95%;
  }

  .meal-1 figure,
  p.meal-name,
  div.reviwes-for-meal {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  figure.figure-for-avater-for-reviewer {
    width: 40px;
    margin-left: 0%;
  }
  p.name-for-reviewer {
    width: 80px;
  }
}
/********************end meadia query (ipad air)**************/

/********************start meadia query desktop **************/

@media screen and (min-width: 1400px) and (device-height: 768px) {
  .header-community {
    margin-left: -9%;
  }
  .continer-for-link-a a {
    margin-left: 50px;
  }
  div.container-for-all-meals section {
    align-items: center;
    width: 30%;
    margin-left: -20px;
  }
  img.heart {
    margin-left: -18%;
  }

  .meal-1 figure,
  p.meal-name,
  div.reviwes-for-meal {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  figure.figure-for-avater-for-reviewer {
    width: 18%;
    margin-left: 0%;
  }
  p.name-for-reviewer {
    width: 82%;
  }
}
/********************end meadia query desktop **************/
